.editor_container {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  display: flex;
  overflow: hidden;
}

.editor_container h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #4e5976;
  font-size: 2em;
  margin-top: 0;
  font-family: "Mukta Mahee", sans-serif;
}

.editor_container h2 {
  font-family: "Mukta Mahee", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #4e5976;
  font-size: 1em;
}

.editor_canvas_container {
  width: 65%;
  display: block;
}

.editor_menu_container {
  width: 35%;
  max-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 1em;
  overflow: hidden;
}

.editor_menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.editor_menu_dropdowns {
  height: 40%;
  width: 100%;
  overflow-y: auto;
}

.editor_menu_item {
  margin: 0.5em 0.5em 0.5em 0em;
  border-radius: 0.5em;
  background-color: #e8f0f5;
  color: #5d6989;
  box-shadow: 0px 0.2em 0.2em rgba(0, 0, 0, 0.2509803922);
  display: flex;
  flex-direction: column;
}

.editor_menu_item:first-child,
.editor_menu_item:last-child {
  margin-top: 0;
}

.editor_menu_item_header {
  width: 100%;
  display: flex;
  position: relative;
  cursor: pointer;
}

.editor_menu_item_header p {
  font-family: "Mukta Mahee", sans-serif;
  margin: 0;
  color: #4e5976;
  width: 100%;
  font-weight: bold;
  font-size: 1em;
  padding: 0.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.editor_menu_item_arrow {
  color: #6283a0;
  display: flex;
  background-image: url(/images/arrow.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  height: 100%;
  width: 5%;
  transition: transform 0.3s;
}

.editor_menu_item h4 {
  font-family: "Mukta Mahee", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 0;
  padding-left: 0.5em;
  color: #5d6989;
  background-color: #b5cbdf;
  width: 100%;
  font-weight: bold;
  font-size: 1em;
  box-sizing: border-box;
}

.editor_menu_item_content {
  overflow: hidden;
  width: 100%;
}

.editor_menu_item_content_slider_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1em;
}

.editor_menu_item_content_slider_container label {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #5d6989;
  font-size: 1em;
  font-weight: bold;
  font-family: "Mukta Mahee", sans-serif;
}

.editor_menu_item_slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 0.5em 0 0 0;
  background-color: #afc8dc;
  border-radius: 1000px;
  box-shadow: inset 0px 0.2em 0.2em rgba(0, 0, 0, 0.2509803922);
}

.editor_menu_item_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1.5em;
  background-color: #f3faff;
  border-radius: 0.3em;
  margin-top: -0.4em;
  margin-bottom: -0.4em;
  box-shadow: 0px 0.2em 0.2em rgba(0, 0, 0, 0.2509803922);
  border: #7f97ab 0.1em solid;
}

.editor_menu_item_content_button_container {
  background-color: #b5cbdf;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em;
}

.editor_menu_item_content_button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #e8f0f5;
  color: #4e5976;
  border: #bbcfdd 0.3em solid;
  border-radius: 0.5em;
  width: 40%;
  min-height: 2em;
  font-family: "Mukta Mahee", sans-serif;
  margin: 0.5em;
  cursor: pointer;
  box-shadow: 0px 0.2em 0.2em rgba(0, 0, 0, 0.2509803922);
  font-weight: bold;
  font-size: 0.7em;
  box-sizing: border-box;
}

.buttonselected {
  background-color: #cee8ff;
}

.editor_menu_item_content_button:hover {
  border: #9ab1c3 0.3em solid;
}

.editor_menu_item_content_button_container_spine {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.editor_menu_item_content_reset_container {
  display: flex;
  flex-direction: column;
  background-color: #f0f8ff;
  padding: 0.2em;
  margin: 0.2em;
  border-radius: 0.6em;
  width: 100%;
}

.editor_menu_item_content_reset_container h4 {
  background-color: transparent;
}

.editor_menu_item_content_reset_container_inset {
  background-color: #bcd6ed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  border-radius: 0.4vh;
}

.keyframe_container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1em;
  position: relative;
  margin-bottom: 1em;
}

.line {
  position: relative;
  width: 100%;
  margin: 0 2em;
  padding: 0.2em;
  background-color: #91b3d1;
  display: flex;
  align-items: center;
}

.keyframe {
  font-family: "Mukta Mahee", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #6283a0;
  border: #ffffff 0.1em solid;
  color: #fff;
  width: 15%;
  height: 2.5em;
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0px 0.2em 0.2em rgba(0, 0, 0, 0.2509803922);
  box-sizing: border-box;
}

.selected {
  border: #ffffff 0.3em solid;
}

.minus-button,
.plus-button {
  background-color: #f3faff;
  border: #91b3d1 0.2em solid;
  border-radius: 1000px;
  cursor: pointer;
  color: #91b3d1;
  padding: 0.7em;
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0.2em 0.2em rgba(0, 0, 0, 0.2509803922);
}

.minus-button path,
.plus-button path {
  scale: 2;
  transform: translate(-25%, -25%);
}

.minus-button svg,
.plus-button svg {
  width: 0.7em;
  height: 0.7em;
}

.minus-button {
  margin-right: 0.7em;
}

.plus-button {
  margin-left: 0.7em;
}

.plus-button:hover,
.minus-button:hover {
  border-color: #6283a0;
}

.editor_menu_other {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 20%;
  padding-right: 0.5em;
  box-sizing: border-box;
}

.editor_menu_item_content_speed_slider_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: baseline;
  text-align: left;
  width: 100%;
}

.editor_menu_item_content_speed_slider_container label {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #5d6989;
  font-size: 1em;
  font-weight: bold;
}

.editor_menu_item_content_speed_slider {
  background-color: #deebf7;
  width: 100%;
  border-radius: 0.6vw;
  display: flex;
}

.editor_menu_item_content_speed_slider input {
  width: 100%;
  padding: 0;
  margin: 1em;
}

.hold_container {
  display: flex;
  width: 100%;
  align-items: center;
  align-self: baseline;
  background-color: #deebf7;
  border-radius: 0.6em;
  height: 3em;
  margin-top: 1em;
}

.hold_checkbox {
  background-color: #deebf7;
  border: none;
  color: #5d6989;
  margin-left: 1em;
  margin-right: 0.5em;
  scale: 1.2;
}

.hold_container p {
  text-wrap: nowrap;
  color: #5d6989;
  font-weight: bold;
  font-size: 1em;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: "Mukta Mahee", sans-serif;
  width: 30%;
}

.hold_time_container {
  background-color: #6283a0;
  display: flex;
  width: 70%;
  height: 2.8;
  margin: 0.3em;
  border-radius: 0.4em;
  align-items: center;
  justify-content: baseline;
}

.hold_time_container input {
  background-color: #deebf7;
  margin: 0.4em;
  border-radius: 0.3em;
  font-size: 1em;
  width: 20%;
  height: 1.6em;
  color: #4e5976;
}

.hold_time_input {
  outline: none;
  border: none;
}

.hold_time_input::-webkit-outer-spin-button,
.hold_time_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hold_time_input[type="number"] {
  -moz-appearance: textfield;
}

.hold_time_container p {
  font-family: "Mukta Mahee", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 0.8em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
  text-align: left;
}

.position_save_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

.position_container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 50%;
}

.position_container label {
  font-family: "Mukta Mahee", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #5d6989;
  font-size: 1em;
  font-weight: bold;
}

.position_save_button_container {
  background-color: #c5ddf1;
  padding: 0.5em 0% 0.75em 0%;
  border-radius: 1vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.save-delete-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.save-delete-button {
  font-family: "Mukta Mahee", sans-serif;
  align-self: flex-end;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #6283a0;
  color: #fff;
  border: #fff 0.1vw solid;
  border-radius: 0.4em;
  width: 40%;
  padding: 1em 0% 1em 0%;
  margin: 0.25em;
  cursor: pointer;
  box-shadow: 0px 0.2em 0.2em rgba(0, 0, 0, 0.2509803922);
  font-weight: bold;
  font-size: 1em;
  box-sizing: border-box;
}

.save-delete-button:hover {
  border: #ffffff 0.3em solid;
}

.mode_container {
  display: flex;
}

.play_button {
  background-image: url(/images/play.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  width: 2vw;
  height: 2vw;
  border: #91b3d1 0.3vw solid;
  border-radius: 1vh;
  margin-right: 1vw;
}

.pause_button {
  margin-left: 1vw;
  background-image: url(/images/pause.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  width: 2vw;
  height: 2vw;
  border: #91b3d1 0.3vw solid;
  border-radius: 1vh;
}

.play_button:hover,
.pause_button:hover {
  filter: brightness(0) saturate(100%) invert(48%) sepia(38%) saturate(391%)
    hue-rotate(166deg) brightness(95%) contrast(83%);
  cursor: pointer;
}

.play_pause_container {
  display: flex;
  position: absolute;
  left: 28.4vw;
  bottom: 2vh;
  z-index: 100000;
}

.editor_menu_dropdowns::-webkit-scrollbar {
  background-color: #d6e2ea;
  border-radius: 10000px;
  width: 1em;
}

.editor_menu_dropdowns::-webkit-scrollbar-thumb {
  background-color: #d6e2ea;
  border-radius: 1000px;
  box-shadow: inset 0 0 1em 1em #f2f9ff;
  min-height: 1em;
  border: solid 0.2vw transparent;
}

.editor_menu_dropdowns::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1em 1em #d6e2ea;
  border-radius: 1000px;
  border: solid 0.1em transparent;
}
