.save_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: #f6fbff;
  border: #bbcfdd 4px solid;
  border-radius: 10px;
  z-index: 12;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 10px 0 #00000041;
  padding: 1%;
}
.save_container h1 {
  color: #5d6989;
  font-size: xx-large;
}
.save_input {
  background-color: #ffffff;
  border: #c7dbec 2px solid;
  text-align: center;
  border-radius: 10px;
  width: 65%;
  margin: 5%;
  font-size: 3vh;
  color: #5d6989;
}
.save_input::placeholder {
  color: #5d6989;
  font-size: 3vh;
}
.save_input:focus {
  outline: none;
}
.save_button_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin-bottom: 5%;
}
.save_button {
  background-color: #e8f0f5;
  border: #c7dbec 2px solid;
  border-radius: 7px;
  color: #5d6989;
  box-shadow: 0 2px 4px 0px #00000041;
  padding: 3% 10%;
  font-size: large;
}
.save_button:hover {
  background-color: #daeafb;
  cursor: pointer;
}
.save_message {
  color: #5d6989;
  font-family: "Mukta Mahee", sans-serif;

  font-size: 1.3em;
}
